# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # M3 account for quota
    account: vh83
    queue: com
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '01:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        queue: comp
        cores: 4
        walltime: '00:30'
        mem: 16
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.7'

    run_vardict:
        queue: comp
        cores: 1
        walltime: '04:00'
        mem: 8
        modules:
            - 'samtools/1.7'
            - 'R/3.4.3'
   
    vt_decompose_normalise:
        queue: comp
        cores: 1
        walltime: '00:20'
        mem: 8
        modules:
            - 'vt/0.57'

    # run VEP annotation
    apply_vep:
        queue: comp
        cores: 24
        mem: 100
        walltime: '00:30'
        modules:
            - 'vep/90'
    
    intersect_bed:
        queue: comp
        walltime: '00:10'
        mem: 8
        modules:
            - 'bedtools/2.26.0'

    coverage_bed:
        queue: comp
        walltime: '00:10'
        mem: 8
        modules:
            - 'bedtools/2.26.0'

    genome_reads:
        queue: comp
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    target_reads:
        queue: comp
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    total_reads:
        queue: comp
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    generate_stats:
        queue: comp
        walltime: '00:30'
        mem: 32
        modules:
            - 'R/3.4.3'

    sort_vcfs:
        queue: comp
        walltime: '00:30'
        mem: 4
        modules:
            - 'bcftools/1.6'

    index_vcfs:
        queue: comp
        walltime: '00:30'
        mem: 2
        modules:
            - 'bcftools/1.6'

    concatenate_vcfs:
        queue: comp
        walltime: '00:30'
        mem: 8
        modules:
            - 'bcftools/1.6'

pipeline_id: 'hiplexpipe_vardict'

# Reference genome
ref_grch37: /projects/vh83/reference/genomes/b37/bwa_0.7.12_index/human_g1k_v37_decoy.fasta

#undr_rover specific files and settings
interval_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_g37.numsort.bed
interval_file_QC: /projects/vh83/reference/brastrap_specific/validation_panel/4genes_621716iii.final_b37.bed 
vardict_bed: /projects/vh83/reference/brastrap_specific/vardict/BRASTRAP_721717_8column.bed
vardict_bed_QC: /projects/vh83/reference/brastrap_specific/vardict/BRASTRAP_QC_621716_8column.bed
AF_THR: 0.2





# Annotation resources
dbsnp_b37: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
other_vep: /usr/local/vep/90/ensembl-vep/cache
vep_brcaex: /projects/vh83/reference/annotation_databases/BRCA-Exchange/BRCA-exchange_accessed-180118/BRCA-exchange_accessed-180118.sort.vcf.gz
vep_gnomad: /projects/vh83/reference/annotation_databases/gnomAD/gnomad.exomes.r2.0.2.sites/gnomad.exomes.r2.0.2.sites.vcf.gz
vep_revel: /projects/vh83/reference/annotation_databases/REVEL/REVEL-030616/revel_all_chromosomes.vcf.gz
vep_maxentscan: /projects/vh83/reference/annotation_databases/MaxEntScan/MaxEntScan_accessed-240118
vep_exac: /projects/vh83/reference/annotation_databases/ExAC/ExAC_nonTCGA.r0.3.1/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz
vep_dbnsfp: /projects/vh83/reference/annotation_databases/dbNSFP/dbNSFPv2.9.3-VEP/dbNSFP-2.9.3.gz
vep_dbscsnv: /projects/vh83/reference/annotation_databases/dbscSNV/dbscSNV1.0-VEP/dbscSNV.txt.gz
vep_cadd: /projects/vh83/reference/annotation_databases/CADD/CADD-v1.3/1000G_phase3.tsv.gz

# The input FASTQ files.

fastqs:

runs:



